<style type="text/css">
    .HandCursorStyle {
        cursor: pointer;
        cursor: hand;
    }
</style>

<script type="text/JavaScript">
    // Add this to the onload event of the BODY element
    function addEvents() {
        activateTree(document.getElementById("LinkedList1"));
    }

    // This function traverses the list and add links
    // to nested list items
    function activateTree(oList) {
        // Collapse the tree
        /*
      for (var i=0; i < oList.getElementsByTagName("ul").length; i++) {
        oList.getElementsByTagName("ul")[i].style.display="none";
      }
                                                                     */
        // Add the click-event handler to the list items
        if (oList.addEventListener) {
            oList.addEventListener("click", toggleBranch, false);
        } else if (oList.attachEvent) { // For IE
            oList.attachEvent("onclick", toggleBranch);
        }
        // Make the nested items look like links
        addLinksToBranches(oList);
    }

    function rememberBranchStatus(title, status) {
        var url="?ajax=1&op=branch_status&status="+status+"&branch="+encodeURIComponent(title);
        $.ajax({
            url: url
        }).done(function(data) {
            //alert(data);
        });
    }

    // This is the click-event handler
    function toggleBranch(event) {
        var oBranch, cSubBranches;
        if (event.target) {
            oBranch = event.target;
        } else if (event.srcElement) { // For IE
            oBranch = event.srcElement;
        }
        cSubBranches = oBranch.getElementsByTagName("ul");
        if (cSubBranches.length > 0) {
            if (cSubBranches[0].style.display != "none") {
                $(cSubBranches[0]).hide('slow');
                rememberBranchStatus(oBranch.title,0);
            } else {
                $(cSubBranches[0]).show('slow');
                rememberBranchStatus(oBranch.title,1);
            }
        }
    }

    // This function makes nested list items look like links
    function addLinksToBranches(oList) {
        var cBranches = oList.getElementsByTagName("li");
        var i, n, cSubBranches;
        if (cBranches.length > 0) {
            for (i=0, n = cBranches.length; i < n; i++) {
                cSubBranches = cBranches[i].getElementsByTagName("ul");
                if (cSubBranches.length > 0) {
                    addLinksToBranches(cSubBranches[0]);
                    cBranches[i].className = "HandCursorStyle";
                    //cBranches[i].style.fontWeight="bold";
                    cSubBranches[0].style.color = "black";
                    cSubBranches[0].style.fontWeight = "normal";
                    cSubBranches[0].style.cursor = "auto";
                }
            }
        }
    }
</script>
<ul id="LinkedList1" class="LinkedList" style="padding-left: 0px;">
    [#begin RESULT#]
    <li style="list-style-type: none; color:[#COLOR#]" title="[#TITLE#]" onmouseout="$(this).find('.delIcon_[#ID#]').hide().removeClass('text-danger');" onmouseover="$(this).find('.delIcon_[#ID#]').show().addClass('text-danger');">
        [#if RESULT#]<i class="glyphicon glyphicon-folder-close" style="font-size: 1.2rem;"></i>[#else#]<i class="glyphicon glyphicon-arrow-right" style="font-size: 1.2rem;color: #ddd;"></i>[#endif RESULT#]
        [#if ID!=""#]
        <a href="?view_mode=edit_mqtt&id=[#ID#]" title="[#PATH#]" style="color:[#COLOR#];text-decoration: none;">
            [#if TITLE!=""#][#TITLE#][#else#][..][#endif#]
        </a>
        : <span id="mqtt[#ID#]" class="mqtt_value">[#VALUE#]</span>
        [#if LINKED_OBJECT!=""#]<i>
        ([#if LINKED_PROPERTY=""#]M: [#else#]P: [#endif LINKED_PROPERTY#][#LINKED_OBJECT#].[#if LINKED_PROPERTY!=""#][#LINKED_PROPERTY#][#else#][#LINKED_METHOD#][#endif LINKED_PROPERTY#])
        </i>[#endif LINKED_OBJECT#]
        [#else#]
        &nbsp;[#TITLE#]
        [#endif#]
        <a href="?view_mode=delete_path&path=[#PATH_URL#]" onclick="return confirm('<#LANG_ARE_YOU_SURE#>');"><i style="display: none;" class="glyphicon glyphicon-remove delIcon_[#ID#]"></i></a>
        [#if RESULT#]<ul [#if IS_VISIBLE!="1" #] style="display:none" [#endif#]>[#tree RESULT#]</ul>[#endif RESULT#]
    </li>
    [#end RESULT#]
</ul>
<script type="text/JavaScript">
    addEvents();
</script>
